*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
 background-color : dark;
}
.unit-wrapper{
     
    margin-left: 3px;
    margin-right: 3px;
    margin: 5px;
    text-align: center;
    display: block;
    background-color: #0081a7;
    height: 225px;
    border: none;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 3px #0081a7;

}
h1{
    padding-top: 20px;
}
input{
    color: white;
    background-color: #0081a7;
    border: 2px solid white;
    border-radius: 3px;
    /* box-shadow: 0 0 2px white; */
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 65px;
    outline: none;
    margin-bottom: 20px;   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
}
input:hover{
  background-color: #023047;
  color: white;
}

 button{
        font-weight: bold;
        font-size: 15px;
        color: #0081a7;
        background-color : white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        transition: ease-in 0.3s;
 }
button:hover{
        /* background-color: black; */
        width: 120px;
        box-shadow: inset 120px 0 0 0 black;
        color: white;
 }
.main-conatiner{
 margin-top: 30px;
 display: block;
         
}

.card{
    font-size: 14px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 45px;
    margin-bottom: 20px;
    height: 60px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
    margin-left: 35px;
    margin-right: 35px;
}
.inner-box{
  margin-top: 12px;
}